<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-header">
			<a class="navbar-brand" rel="home" href="#" title="India Members of Parliament">
				<img style="max-width:46px;" src="img/IndiaFlag.png"/>
			</a>
			<p class="navbar-brand">India Members of Parliament</p>
	    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown">Select Sabha <span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
				<li><a href="#/members/MPTrack-15">15th Lok Sabha</a></li>
				<li><a href="#/members/MPTrack-16">16th Lok Sabha</a></li>
				<li class="divider"></li>
				<li><a href="#/members/Rajya">Rajya Sabha</a></li>
			  </ul>
			</li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Namaste</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	</div>
</div>